# Ignore all hidden files and directories
.*
!.gitignore

# Editor/IDE-specific files and directories
.vscode/
.idea/
*.swp
*.swo
*.swn

# System-specific files
.DS_Store

# Rust-specific files and directories
/debug/
/target/
.rustc_info.json
Cargo.toml.orig
**/*.rs.bk
*.pdb

